<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактирование</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/auth_styles .css">
</head>
<body>
<div class="login-form">

    <form enctype="multipart/form-data" method="post">
        <div class="h2 text-center">
            Редактирование профиля
        </div>
        {% csrf_token %}
        {{ edit_form.as_p }}
        <button type="button" class="btn btn-success">Сохранить</button>
        <button type="submit" class="btn btn-success"><a href="{% url 'index'%}">На главную</a></button>
    </form>
</div>
</body>
</html>