<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Книжный червь</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/auth_styles .css">
</head>

<body>
<div class="login-form">
<form method="post">
    {% csrf_token %}
  <!--<div class="imgcontainer">-->
    <!--<img src="/static/jmg/user_avatar.png" alt="Аватарка" class="avatar">-->
  <!--</div>-->

  <div class="container">
    <label for="uname"><b>Логин</b></label>
    <input type="text" placeholder="Введите логин" name="uname" required>

    <label for="psw"><b>Пароль</b></label>
    <input type="password" placeholder="Введите пароль" name="psw" required>

    <button type="submit">Войти</button>
    <!--<label>-->
      <!--<input type="checkbox" checked="checked" name="remember"> Запомнить-->
    <!--</label>-->
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="btn btn=danger col-sm-3">
      <a class="back" href="{% url 'index'%}">Отмена</a></button>
  </div>
</form>
</div>
</body>

</html>