{% extends 'mainapp/base.html'%}

{% block title %}
    <title>Категории</title>
{% endblock %}
{% block content %}
<div class="book-categories">
	<h1>У нас есть следующие категории книг:</h1>
	<ul>
		{% for book_category in book_categories %}
			<li>
				<span id="category-{{bookCategories.pk}}">
					{{book_category.name}} </span>
					(возрасное ограничение {{book_category.min_age}} лет)
			</li>
    	{% endfor %}
		<div class="book_description col-lg-8"></div>
	</ul>
</div>

<div class="books">
	<h1>У нас есть следующие книги:</h1>
		<ul>
			{% for book in books%}
				 <li id="book-{{book.pk}}">
					 {{book.title}}</li>
					{{book.price}} руб. за книгу
			{%endfor%}
		</ul>
	<div class="book_categories_description col-lg-8"></div>
</div>

{% endblock %}
<div class="active-talk"></div>
<div class="send-message-form"></div>
