{% extends 'mainapp/base.html'%}

{% block title %}
    <title>Читалочка</title>
{% endblock %}
{% block content %}
    <h1>История первой книги</h1>
<h2>«Книги — корабли мысли, странствующие по волнам времени и бережно несущие свой драгоценный груз от поколения к поколению» — Фрэнсис Бэкон </h2>
<p>
<!--<h3>-->
   <!--История первой книги на Руси берет свое начало с эпохи правления царя Ивана Грозного.-->
      <!--А ведь именно при нем на Руси открывается первая типография — более чем 450 лет назад.-->
<!--А самыми очевидными причинами в учреждении первой типографии были, как и у всякого «здравомыслящего» государства — необходимость в развитии, расширение территорий, развитие в хозяйстве и торговле и т.д.-->
    <!--Доверие людей к переписчикам быстро иссякло, потому что никто не хотел читать дорогостоящие, не правдивые рукописи со скудным смыслом.-->
<!--В 1563 году первопечатниками на Руси стали Петр Мстиславец и Иван Федоров. Самым первым, точно датированным печатным изданием стала книга «Апостол», которая, в те времена, считалась основным учебником для изучения духовенства.-->
    <!--По ней учились монахи, крестьяне, дворяне. «Апостол» – это не просто книга, а своеобразная «Азбука» для церковно-приходских школ царских времен.-->
<!--Процесс выпуска книги «Апостол» оказался тяжелым и достаточно творческим, и занял у печатников целый год кропотливого труда.-->
<!--Первая печатная книга на Руси до сих пор является реликвией нашей Великой Державы.-->
    <!--Древнее издание «Апостол» – это родоначальник печатной промышленности, которая шаг за шагом вела общество к прогрессу, новым знаниям и самопознанию.-->
<!--</h3>-->
</p>

{% if peoples %}
<div class="exchange">
    <div class="exchange-members-list">
        {% for people in peoples %}
            <a class="exchange-member" href="{% url 'chat:show_talk' people.pk %}">
                {{people.last_name}} {{people.first_name}}
            </a>
        {% endfor %}
    </div>
    <div class="active-talk">
    </div>
    <div class="send-message-form">
    </div>
</div>
{% endif %}
{% endblock %}