{% extends 'mainapp/base.html'%}

{% block title %}
    <title>Книжный червь</title>
{% endblock %}
{% block content %}
    <h1>История первой книги</h1>
<h2>«Книги — корабли мысли, странствующие по волнам времени и бережно несущие свой драгоценный груз от поколения к поколению» — Фрэнсис Бэкон </h2>
<p>
<h3>
   История первой книги на Руси берет свое начало с эпохи правления царя Ивана Грозного, того самого царя, мифы и слухи о котором весьма преувеличены — с точки зрения его «суровости»
    А ведь именно при нем на Руси открывается первая типография — более чем 450 лет назад.
А самыми очевидными причинами в учреждении первой типографии были, как и у всякого «здравомыслящего» государства — необходимость в развитии, расширение территорий, развитие в хозяйстве и торговле и т.д.
    Но как известно, любое развитие — это вторичный процесс, или же конечный результат. Возглавляют эту бесхитростную цепочку — «знания».
Великой Руси, требовалось все больше знаний во всевозможных экономических и политических направлениях и областях, в том числе для духовного обогащения.
Необходимость печатных изданий возникла из-за несовершенства рукописных копий. Переписанные от руки книги, в большинстве случаев искажали информацию, а порой, даже смысл рукописи. Население росло, количество рукописных книг увеличивалось, а их качество стремительно снижалось.
    Доверие людей к переписчикам быстро иссякло, потому что никто не хотел читать дорогостоящие, не правдивые рукописи со скудным смыслом.
В 1563 году первопечатниками на Руси стали Петр Мстиславец и Иван Федоров. Самым первым, точно датированным печатным изданием стала книга «Апостол», которая, в те времена, считалась основным учебником для изучения духовенства.
    По ней учились монахи, крестьяне, дворяне. «Апостол» – это не просто книга, а своеобразная «Азбука» для церковно-приходских школ царских времен.
Процесс выпуска книги «Апостол» оказался тяжелым и достаточно творческим, и занял у печатников целый год кропотливого труда. Они отливали шрифты, создавали и улучшали печатное оборудование, старательно внедряли новые техники печатания, и смогли явить всему миру настоящий шедевр!
Бумагу для книги везли из Франции, она отличалась тем, что была тонкая и очень прочная. Буквы в книге выполнены в рукописном стиле, это означает, что печатники вылили специальный шрифт который был привлекателен своей красивой формой, завитками и линиями.
    А для удобства читателей, Петр и Иван придумали равномерные пробелы между словами, отступы от края страницы, которые были одинаковы слева и справа.
Петр и Иван стали настоящими первопроходцами в печатном деле, ведь в книге «Апостол», они сделали гравюры, которые переработали на собственный творческий лад. Первые гравюры послужили развитию иллюстрирования в книгах.
«Апостол», как и Евангелие, бытовал на Руси в двух основных вариантах — в одном тексты располагались последовательно (к нему относится и книга Ивана Федорова), в другом размещались в порядке чтений церковного календаря. На Руси было принято богато украшать рукописные «Апостолы».
«Апостол» по своему полиграфическому оформлению на долгие годы стал образцом для книгоиздателей. Расположение текста на печатной полосе, украшение книги орнаментикой и гравюрой с изображением святого апостола Луки заложили основы полиграфического мастерства на несколько столетий, которым следовали не только типографии в России, но и книгоиздатели кириллической книги за ее пределами.
Миновали столетия, гравюры превратились в картинки и стали ярким украшением печатных изданий, в особенности детских. Шрифт стал стандартным и намного более понятным, чем пять веков тому назад.
Первая печатная книга на Руси до сих пор является реликвией нашей Великой Державы.
    Древнее издание «Апостол» – это родоначальник печатной промышленности, которая шаг за шагом вела общество к прогрессу, новым знаниям и самопознанию.
</h3>
</p>

{% endblock %}