{% extends 'mainapp/base.html'%}

{% block title %}
    <title>Факты</title>
{% endblock %}

{% block content %}

<h1>Интересные факты в мире книг</h1>


<h4>Топ-6 фактов о книгах</h4>

<ol>
    <li>Всего на Земле 129864880 книг.</li>
    <li>Первое место среди всех книг мирового пространства отдается Библии.</li>
    <li>Ребенок 4-6 лет лучше всего приучается к чтению книги.</li>
    <li>Большое количество читателей теряют интерес к книге на 18 странице.</li>
    <li>Свиток Дхарани – это самая древнейшая печатная книга.</li>
    <li>Одна из самых необычных книг в мире – это «Божественная комедия» Данте, написанная бенедиктинским монахом Габриэлем Челани на листе бумаги размером 80 на 60 см.</li>
</ol>

{% endblock %}

