{% extends 'mainapp/base.html'%}

{% block title %}
    <title>Вышедшие книги</title>
{% endblock %}

{% block content %}
<div class="published_books">
    <h1>Здесь будут недавно вышедшие книги</h1>
    <ul>
        {% for published_book in published_books %}
            <li>
                {{published_book.title}}
                    <ul style="list-style-type: square">
                        <li id="Published_books"></li>
                    </ul>
            </li>
        {% endfor %}
    </ul>
</div>
{% endblock %}
