{% extends 'mainapp/base.html'%}

{% block title %}
    <title>Авторы</title>
{% endblock %}

{% block content %}
   <h1>Авторы</h1>

<h2>  Пушкин А.С. (6.06.1779 - 10.02.1837 гг.)</h2>
    <p> В период ухаживаний за своей будущей супругой Натальей Пушкин много рассказывал своим друзьям о ней и при этом обычно произносил:
<p> «Я восхищен, я очарован,</p>
 <p>   Короче – я огончарован!». </p>

<p> Известно, что Пушкин был очень любвеобилен. С 14 лет он начал посещать публичные дома. И, уже будучи женатым, продолжал наведываться к "веселым девкам", а также имел замужних любовниц.</p>

<h2>Гоголь В.Н. (19.03.1809 - 04.03.1852 гг.)</h2>
<p>Гpaммamuкa pуccкoгo языкa u pucoвaнuя эmo ocнoвныe пpeдмemы, в кomopыx xopoшo paзбupaлcя Huкoлaй.</p>
<p>Первой публикацией Гоголя стала поэма «Ганц Кюхельгартен», изданная им под псевдонимом «В. Алов», но критики восприняли её холодно. Разочарованный писатель выкупил вес оставшийся в продаже тираж и уничтожил его.</p>

<h2>Каверин В.А. (19.04.1902 - 2.05.1989 гг.)</h2>
<p>"Математика — самый короткий путь к самостоятельному мышлению." - цитата Каверина В.А.</p>

<h2>Никитин Д.В. (21.09.1824 - 16.10.1861 гг.)</h2>
<p>Учился будущий поэт в духовном училище и семинарии. Отец, в начале довольно состоятельный торговец, рассчитывал послать сына в университет, но дела его расстроились, и Иван Никитин вынужден был сделаться сидельцем при торговле восковыми свечами.</p>

<p>Грамоту маленький Иван Никитин освоил рано. Помог в этом ему сосед, который был сапожником, но весьма образованным. Научившись складывать буквы, Иван сразу начал сочинить свои первые стихи.</p>


{% endblock%}

