{% extends 'mainapp/base.html'%}

{% block content %}
<p> Привет! Я - Читалочка. Тестируемый проект курсового и дипломного проекта. Создан я был в 2019 году весной
    во время курсового проектирования в ГБПОУ "КПК". Здесь много интересного - можно купить книгу, узнать Топ книг или авторов, поддчеркнуть для
    себя что-то новое и пообщаться в чате с другими участниками сайта.
    Автор: студентка 43 группы ГБПОУ "Курганский педагогический колледж" Анастасия А.Федулова
    Контакные данные: г.Курган
</p>

<div class="images">
    <a rel="static/img" class="photo" href="static/jmg/05.jpg" title="Картинка 1">
        <img src="static/jmg/05.jpg" width="150" height="100" alt=""/>
    </a>
</div>
{% endblock %}